.g {
  &-page {
    // mobile range
    min-height: calc(100vh - 50px); // header height
    padding: calc(50px + 8px) 16px 48px;

    // tablet range
    @include media-breakpoint-up(sm) {
      padding: 48px 40px 50px;
    }

    // desktop narrow range
    @include media-breakpoint-up(md) {
      padding: 12px 40px 48px;
    }
    // desktop UHD range
    @include media-breakpoint-up(xxl) {
      padding: 60px 0 48px;
    }

    &__wrapper {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;

      // tablet range
      @include media-breakpoint-up(sm) {
        max-width: 688px;
      }

      // desktop narrow range
      @include media-breakpoint-up(md) {
        max-width: 1120px;
        display: flex;
      }

      // desktop xxl range
      @include media-breakpoint-up(xxl) {
        max-width: 1200px;
      }
    }
  }
  &-page--with-aside {
    // mobile range
    .main {
      margin: 8px auto 0;
      // tablet range
      @include media-breakpoint-up(sm) {
        padding: 0;
        margin-top: 0;
      }

      // desktop narrow range
      @include media-breakpoint-up(md) {
        width: calc(100% - #{$aside-width-md} - 48px);
        margin: 0;
      }

      // desktop xl range
      @include media-breakpoint-up(lg) {
        width: calc(100% - #{$aside-width-lg} - 48px);
        margin: 0;
      }
    }
  }

  &-aside {
    // mobile range
    margin: 70px auto 0;

    // desktop narrow range
    @include media-breakpoint-up(md) {
      width: $aside-width-md;
      padding: 32px 32px 53px;
      margin: 0 0 0 48px;
    }
    > * {
      margin-left: auto;
      margin-right: auto;
      + * {
        margin-top: 16px;
      }
      + .link {
        margin-top: 44px;
      }
    }

    // desktop wide range
    @include media-breakpoint-up(lg) {
      width: $aside-width-lg;
    }

    // desktop xxl range
    @include media-breakpoint-up(xxl) {
      width: $aside-width-xl;
    }
  }
  &-list {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% + 26px);
      transform: translateX(-13px);
    }
    &__item {
      @include media-breakpoint-up(md) {
        width: calc((100% - 78px) / 3);
        margin: 30px 13px 0;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0 !important;
        }
      }
      @include media-breakpoint-up(xxl) {
        width: calc((100% - 104px) / 4);
        &:nth-child(4) {
          margin-top: 0 !important;
        }
      }
      + .g-list__item {
        margin: 20px 0 0;
        @include media-breakpoint-up(md) {
          margin: 30px 13px 0;
        }
      }
    }
  }
  &-list-heading {
    color: $color-blue;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.48px;
    + * {
      margin-top: 20px;
      @include media-breakpoint-up(lg) {
        margin-top: 25px;
      }
    }
  }
  &-button-load-more {
    display: block;
    width: 100%;
    margin: 14px auto 0;
    @include media-breakpoint-up(md) {
      max-width: 300px;
      margin: 54px auto 0;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 400px;
    }
  }
  &-button-load-more--arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: $color-blue;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
    border-radius: 30px;
    border: 3px solid $color-blue;
    &::after {
      content: '';
      display: inline-block;
      width: 15px;
      height: 19px;
      margin-left: 10px;
      transform: rotate(90deg);
      background-image: url('~assets/img/arrow-blue.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  &-video-news-img-icon-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &-video-news-img-icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 10.4px;
    border-color: transparent transparent transparent #fff;
  }
}

.truncate-text-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
